#center{
	text-align: center;}
	
h1{
	text-align: center;}
	
#h2{
	text-align: center;
	font-size: 400%}
h4{
	text-align: center;}

p{
	text-align: center;}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 70%;
	margin: auto;}
	

div.kalkis{
	margin:auto; 
	width:350px; 
	border:4px solid; 
	border-radius: 7px; 
	background-color: #ff3333;
	text-align: center;} 

.kalkKnapp{
	background-color: #e60000;
	outline: none;
    color: white;
    padding: 20px 50px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
	cursor: pointer;
	border-radius: 12px;}
	
.PCbygg{
	margin:auto; 
	width:508px;
	border:4px solid;
	border-radius: 5px;}